/* make all FLAT */
* {
    border-radius: 0;
    box-shadow: none;
    /* box-sizing: border-box; */
}

*:before, *:after {
    /* box-sizing: border-box; */
}
body {
    padding-top: 50px;
    background-color: #f2f2f2;
    color: #767676;
}

h1 small {
    color: #bdc3c7;  
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.navbar-brand {
    padding-left:35px;
}
.navbar-fixed-top {
    border: 0;
}

/* Hide for mobile, show a bit later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #ffffff;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 0px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding: 5px 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav-sidebar > ul {
    list-style: none;
    font-size: 16px;
    padding: 0 0 0 30px;
}

.nav-sidebar .solid {
    width: 5px;
    height: 100%;
    position: absolute;
    background-color: none;
    z-index:1024;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #1abc9c;
    background-color: #ecf0f1; /*transparent;*/
}
.nav-sidebar > .active > .solid {
    background-color: #1abc9c;
}

/* panels */
.panel {
    padding: 10px;
    border-radius: 0;  

}
.panel-mini {
    min-height: 110px;
    border: none;
    padding: 20px;
}

.panel-warning {
    background-color: #e67e22;
    border-color: #d35400;  
}

.panel-error {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.panel-info {
    background-color: #3498db;
    border-color: #2980b9;
}
.panel-warning, .panel-error, .panel-info {
    color: #ffffff;  
    border-radius: 5px;
}

.panel p {
    padding: 0;
    margin-bottom: 0;
}

.panel-mini h6 {
    font-size: 30px;
    margin-top: 0;
}

.panel-mini p {
    font-size: 12px;
}

.panel h4 {
    margin-top: 0;
}
/* box icon */
.box-icon {
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 30px;
    height: 65px;
    line-height: 65px;
    margin: 0 20px 10px 0;
    text-align: center;
    vertical-align: middle;
    width: 65px;
}
.box-icon {
    background-color: #2980b9;
    color: #ffffff;
}
.box-icon.bg-success {
    background-color: #2ecc71;
}
.box-icon.bg-info {
    background-color: #3498db;
}
.box-icon.bg-warning {
    background-color: #d35400;
}
.box-icon.bg-error {
    background-color: #e74c3c;
}

.box-icon:before, .box-icon:after {
    box-sizing: border-box;
    clear: both;
    content: ""
}
.box-icon .glyphicon {
    top: 0;
    line-height: 65px;
    display: block;    
}

/* main box cubes */
.status-cubes li {
    list-style-type: none;   
    margin: 0 0 10px 0;
}
.status-cubes li span {
    width: 100%;
    display: block;
    padding: 0 20px 0 15px;
    line-height: 15px;
    font-size: 15px;
    -webkit-transition: all .2s ease-in-out;    
}
.status-cubes li span p {
    display: inline-block;
    height: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 0 10px;
    font-weight: bold;
    -webkit-transition: all .1s ease-in-out;
}
.status-cubes a {
    color: #767676;
}
.status-cubes a:hover p {
    padding-left: 50px;
}
.status-cubes a:hover span.status-category {
    padding-left: 0px;
}
.status-cubes a:hover span.glyphicon {
    display: none;
}
.status-cubes a:hover small {
    display: inline;
}
.status-cubes li span.success {
    background-color: #27ae60;
    border-color: #2ecc71;
}
.status-cubes li span.warning {
    background-color: #f39c12;
    border-color: #f1c40f;
}
.status-cubes li span.error {
    background-color: #c0392b;
    border-color: #e74c3c;
}
.status-cubes .glyphicon {
    display: none;
    color: white;
}
.status-cubes small {
    display: none;
    color: #FFFFFF;
    padding-left: 10px;
}

/* loading bar */
#loading-bar .bar {
  -webkit-transition: all 650ms;
     -moz-transition: all 650ms;
       -o-transition: all 650ms;
          transition: all 650ms;

  background: #29d; /*#29d;*/
  /*
  //background-image: linear-gradient(90deg, #36D7B7,#29d);  
  //background-image: linear-gradient(90deg, #69D2E7, #29d);  
  */
  position: fixed;
  z-index: 10002;
  top: 53px;
  bottom: -1px;
  left: 0;
  height: 3px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
  /* border-bottom-color: red; */
  /* border-bottom-width: 2px; */
  border-bottom: 1px solid #FFF;
}

#loading-bar .peg {
  background-image: linear-gradient(90deg, #29d, #FFF);   
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #3498db 1px 0 6px 1px;
  -ms-box-shadow: #3498db 1px 0 6px 1px;
  -webkit-box-shadow: #3498db 1px 0 6px 1px;
  box-shadow: cyan 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* colors depends on % */
/* 25-50% */
#loading-bar.loadbar-25pct .bar {
    background: #07e264;
}
#loading-bar.loadbar-25pct .peg {
     -moz-box-shadow: #00ff6c 1px 0 6px 1px;
      -ms-box-shadow: #00ff6c 1px 0 6px 1px;
  -webkit-box-shadow: #00ff6c 1px 0 6px 1px;
          box-shadow: #00ff6c 1px 0 6px 1px;  
}
/* 50-75% */
#loading-bar.loadbar-50pct .bar {
    background: #f1c40f;
}
#loading-bar.loadbar-50pct .peg {
     -moz-box-shadow: #ffea00 1px 0 6px 1px;
      -ms-box-shadow: #ffea00 1px 0 6px 1px;
  -webkit-box-shadow: #ffea00 1px 0 6px 1px;
          box-shadow: #ffea00 1px 0 6px 1px;  
}
/* 75-90% */
#loading-bar.loadbar-75pct .bar {
    background: #d35400;
}
#loading-bar.loadbar-75pct .peg {
     -moz-box-shadow: #ff6600 1px 0 6px 1px;
      -ms-box-shadow: #ff6600 1px 0 6px 1px;
  -webkit-box-shadow: #ff6600 1px 0 6px 1px;
          box-shadow: #ff6600 1px 0 6px 1px;  
}
/* 90-100% */
#loading-bar.loadbar-90pct .bar {
    background: #e74c3c;
}
#loading-bar.loadbar-90pct .peg {
     -moz-box-shadow: #ff1800 1px 0 6px 1px;
      -ms-box-shadow: #ff1800 1px 0 6px 1px;
  -webkit-box-shadow: #ff1800 1px 0 6px 1px;
          box-shadow: #ff1800 1px 0 6px 1px;  
}
/* 100% - hide*/
#loading-bar.loadbar-complete {
    display: none; 
}
#loading-bar-spinner.loadbar-complete {
    display: none; 
}

#loading-bar-spinner {
    display: block;
    position: absolute;
    z-index: 10002;
    top: 10px;
    left: 10px;
}

#loading-bar-spinner .spinner-icon {
    width: 14px;
    height: 14px;
    border:  solid 2px transparent;
    border-top-color:  #FFF;/*#29d;*/
    border-left-color: #FFF;/*#29d;*/
    border-radius: 10px;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation:    loading-bar-spinner 400ms linear infinite;
    -ms-animation:     loading-bar-spinner 400ms linear infinite;
    -o-animation:      loading-bar-spinner 400ms linear infinite;
    animation:         loading-bar-spinner 400ms linear infinite;
}
@-webkit-keyframes loading-bar-spinner {
    0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
    0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
    0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
    0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
    0%   { transform: rotate(0deg);   transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}